
@{
    ViewData["Title"] = "GetCategory";
}

<div class="row">
    <div class="list-group col-md-2 mr-auto">
        <a class="list-group-item list-group-item-action active">
            Categories
        </a>
        @foreach (var ctg in this.ViewBag.Categories)
        {
            <a asp-action="GetCategoryId" asp-route-id="@ctg.Id" class="list-group-item list-group-item-action">@ctg.Name</a>
        }
    </div>
    <div class="row col justify-content-around ">
        @foreach (var r in this.ViewBag.Books)
        {
            <div class="col-4 mr-1 mb-3 card text-center">
                <a asp-controller="Book" asp-action="GetBook" asp-route-id="@r.Id">
                    <img class="center" src="@r.Image" alt="@r.Name" style="display: block;margin-left: auto;margin-right: auto;width: 80%;margin-top: 10px; height:300px">
                    <div class="card-body">
                        <h5 class="card-title">@r.Name</h5>
                        <p class="card-text">@r.Price €</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>